:root {
  background-color: rgba(100, 127, 100, 0.5);
  font-family: Tahoma;
}
main {
  margin-left: 300px;
  padding: 0 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul > li > a:hover {
  color: green !important;
}
header {
  font-size: 32px;
}
h1 {
  font-size: 22px;
}
pre {
  background-color: lightgrey;
  display: block;
  padding: 10px;
  overflow: auto;
  flex-wrap: hard;
}
code {
  background-color: lightgrey;
}
.navbar {
  display: block;
}
.navbar-brand {
  padding-left: 10px;
}
#navbar {
  background-color: rgba(0, 127, 50, 0.2);
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  overflow: auto;
}
#nav-header {
  border: 1px solid grey;
  padding: 5px;
  font-size: 28px;
}
#navbar > ul > li {
  border: 1px solid grey;
  padding: 10px 5px;
}
#navbar > ul > li:hover {
  background-color: rgba(0, 127, 50, 1);
}
#navbar > ul > li > a {
  display: block;
}
@media (max-width: 600px) {
  main {
    margin-left: 0;
  }
  .navbar {
    position: relative;
    display: block;
    text-align: center;
  }
  .navbar-nav {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  .navbar:hover .navbar-nav {
    display: block;
  }
  #navbar {
    position: static;
    width: 100%;
    text-align: center;
  }
  #navbar > ul {
    background-color: #007F32;
    position: relative;
  }
  #navbar > ul > li > a {
    color: lightgrey;
  }
}